@media only screen and (max-width: 768px) {
 .team-section2 {
  display: flex !important;
  flex-direction: column;
  gap: 20px !important;
 }

 .team-section2>div {
  display: flex !important;
  flex-direction: column !important;
  max-height: 100% !important;
 }

 .team-section2>div>img {
  width: 100%;
 }

 .team-section2>div>.details {
  padding: 10px !important;
  opacity: 1 !important;
 }

 .team-section2>div>.details {
  position: unset !important;
 }
}

.team-section2 {
 display: grid;
 gap: 10px;
 transition: 500ms;
}

.grid-1 {
 grid-template-columns: 2fr 1fr 1fr 1fr;
}

.grid-2 {
 grid-template-columns: 1fr 2fr 1fr 1fr;
}

.grid-3 {
 grid-template-columns: 1fr 1fr 2fr 1fr;
}

.grid-4 {
 grid-template-columns: 1fr 1fr 1fr 2fr;
}

.team-section2>div {
 max-height: 217px;
 background: white;
 display: flex;
 align-items: center;
 position: relative;
}

.team-section2>div>.details {
 transition: all ease 300ms;
 opacity: 0;
 position: absolute;
 left: 0;
}

.team-section2>div.grid-visible>.details {
 opacity: 1;
 left: 50%;
}

.img-fluid {
 width: 100%;
 height: 217px;
 width: 217px;
 z-index: 10;
}

.details {
 padding: 0 20px;
 z-index: 0;
}

.position {
 font-size: 12px;
 font-style: italic;
}

.name {
 font-size: 20px;
}

.description {
 font-size: 16px;
}