.flip-card {
  background-color: transparent;
  width: 260px;
  height: 200px;
  border: 1px solid var(--golden);
  perspective: 1000px;
  border-radius: 4px;
  overflow: hidden;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border: 1px solid var(--golden);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--golden);
  color: white !important;
  transform: rotateY(180deg);
}

/* --------  card style------*/

.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.05);
  border: 1px solid var(--golden);
}

.card-body {
  padding: 20px;
}

@media (max-width: 900px) {
  .founder-mobile {
    flex-direction: column-reverse !important;
  }
}

@media (max-width: 576px) {
  .frame-mobile {
    right: -10px !important;
  }
}

.mobile-justify {
  text-align: justify !important;
}

.mask {
  position: relative;
  overflow: hidden;

  box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.2);
}

.mask img {
  height: 100%;
  object-fit: fill;
}

.mask:hover i {
  color: var(--golden);
}

.mask:hover .cover {
  top: 0;
  margin-top: 0px;

  background: rgba(0, 0, 0, 0.8);
}

.cover {
  height: 100%;
  margin-top: -50px;
  position: absolute;
  top: 100%;

  transition: 0.7s;

  padding: 15px;

  background: var(--golden);
  color: #fff;
}

.cover h3 {
  font-size: 18px;
}

.cover p {
  color: #bbbbbb !important;
}
