.silverscreen-container {
  position: relative;
  /* height: 120vh; */
  padding-bottom: 120px;
  background-color: var(--navy);
  /* background-color: var(--navy); */
  color: white;
  font-family: "Helvetica", sans-serif;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: absolute;
  font-size: 0.8rem;
  letter-spacing: 1px;

  width: 10%;
}
@media (max-width: 768px) {
  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    width: 20%;
  }

  .bottom-right {
    width: 12% !important;
  }

  .scroll-down {
    width: 50%;
  }
}

.bottom-right {
  width: 6%;
}

.top-left {
  top: 20px;
  left: 20px;
}

.top-left .rec {
  color: yellow;
}

.top-right {
  top: 20px;
  right: 20px;
}

.bottom-left {
  bottom: 20px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-text h1 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.scroll-down {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  letter-spacing: 2px;
  color: #ffca28;
  /* background-color: #000; */
  /* background-color: var(--navy); */
  z-index: 10;
  padding: 10px;
}

.scroll-arrow {
  width: 10px;
  height: 20px;
  border: solid #ffca28;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-top: 5px;
  transform: rotate(45deg);
}

.guides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(transparent 49.5%, white 50%, 49.5%),
    linear-gradient(90deg, transparent 49.5%, white 50%);
  background-size: 100% 100%;
  z-index: 1;
  pointer-events: none;
}

/* @media (max-width: 768px) {
  .text-mobile {
    font-size: 9.5px !important;
  }
} */
@media (max-width: 576px) {
  .rec-mobile {
    position: absolute !important;
    top: 5px !important;
    left: 8px !important;
  }
}

@media screen and (max-width: 576px) {
  .rec-mobile {
    position: absolute !important;
    top: 5px !important;
    left: 8px !important;
  }
}

/* // project file css  */

@media screen and (max-width: 576px) {
  .project-container {
    padding: 15px;
  }
}

.movie-gallery-container {
  height: 320px;
  width: 100%;
  /* border-radius: 8px; */
  overflow: hidden;
}

.movie-gallery-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* style={{
  // filter: "grayscale(90%)",
  objectFit: "cover",
  objectPosition: "center center",
}} */

.project-images {
  /* filter: grayscale(90%); */
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 576px) {
  .project-images {
    filter: none !important;
    object-fit: contain;
    object-position: center center;
  }
}

@media screen and (max-width: 576px) {
  .movie-gallery-container {
    height: 260px;
    width: 100%;
    /* border-radius: 8px; */
    overflow: hidden;
  }

  .movie-about-spacing {
    padding: 25px 0px 60px !important;
  }
  .mt-60 {
    margin-top: 10px !important;
  }
}

.movie-about-spacing {
  padding: 60px 0;
}

.about-card {
  background-image: linear-gradient(var(--navy));
  transform: translateY(-90px);
}

@media screen and (max-width: 576px) {
  .about-card {
    transform: translateY(-55px);
  }
}
